{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/howto/">Howto</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <h3 class="text-muted">Rosarks</h3>
  </div>
  
  <div class="jumbotron">
    <h1>Rosarks API</h1>
    <p class="lead">Rosarks is a simple API to find amenities located
      near a point, results are available in JSON format. Datas come
      from OpenStreetMap project.</p>
  </div>
  
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>/bicycle_rental/</h4>
      <p>Where you can take a bicycle from
      a <a href="http://en.wikipedia.org/wiki/Bicycle_sharing_system">bicycle
      rental/sharing system</a>, like Veli'b in Paris (France)
      (<a href="/bicycle_rental/2.1354/48.7966/">sample</a>)</p>

      <h4>/bus_stop/</h4>
      <p>Where you take or leave a public bus (<a href="/bus_stop/2.1354/48.7966/">sample</a>)</p>      
    </div>
    
    <div class="col-lg-6">
      <h4>/subway_station/</h4>
      <p>Subway stations with line information like colors
      (<a href="/subway_station/2.34/48.8651/">sample</a>)</p>

      <h4>/tramway_station/</h4>
      <p>Tramways stop/station with line information like name and colors (<a href="/tramway_station/3.179/50.6911/">sample</a>)</p>
    </div>
  </div>
  
  <div class="footer">
    <p>&copy; Rodolphe Quiédeville 2014</p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
