{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <h3 class="text-muted">Rosarks</h3>
  </div>
  
  <div class="jumbotron">
    <h1>Rosarks API</h1>
    <p class="lead">Rosarks is a simple API to find amenities
      near a single point, results are availabe in JSON format.</p>
  </div>
  
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Bicycle Rental</h4>
      <p><a href="/bicycle_rental/2.1353317/48.7966">Sample</a></p>
      

    
    </div>
    
    <div class="col-lg-6">
      <h4>Subway Station</h4>
      <p>Subway stations are accessible by <b>/subway_station/</b>
      prefix, datas contains information on subway line too (<a href="/subway_station/2.1353317/48.7966">sample</a>)</p>
    </div>
  </div>
  
  <div class="footer">
    <p>&copy; Rodolphe Quiédeville 2014</p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
